.menu-container{
 
    display: flex;
    flex-direction: flow;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: white;
    padding: 0.5rem;
    width: 100%;
    box-shadow: 0 0 2rem rgb(0, 0, 0, 0.56);
}

.menu-logo > img{
    height: 35px;
}

.menu-logo {
    display: flex;

}

.menu-btns-container{
    display: flex;
    margin: auto;
}
.btns-list{
    display: flex;
    margin: 0;
}
.btns-list > li{
    display: block;
    list-style-type: none;
}

.btns-list > li > a{
    font-weight: 550; 
    padding: 0.3rem 1rem;
    color: black;
    font-size: 15px;
    transition-property: background-color, border-color;
    transition-duration: 0.55s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    border: 1px solid transparent;
    border-radius: 1rem;
}

.btns-list> li> a:hover{
    background-color: #d4d4d4;
    border-color: rgba(0, 0, 0, 0.299);
}

.btn-activate{
    background-color: #d4d4d484;
    border-color: rgba(0, 0, 0, 0.299);
}