<div class="price-container">
    <div class="price-details-container">
        <div class="price-title">
            <p>{{title}}</p>
        </div>
        <div class="price-plataform">
            <div class="price-game-formate">
                <p>{{format}}</p>
            </div>
            <ul *ngFor="let i of plataform">
                <p>|</p>
                <li>{{ i }}</li>
            </ul>
        </div>
    </div> 
    <div class="price-value">
        <span>{{price}}</span>
    </div> 
</div>