<div class="price-container">
    <div class="price-details-container">
        <div class="price-title">
            <p>card-price works!</p>
        </div>
        <div class="price-plataform">
            <div class="price-game-formate">
                <p>digital</p>
            </div>
            <ul>
                <li>ps4</li>
                <li>ps4</li>
                <li>ps4</li>
            </ul>
        </div>
    </div> 
    <div class="price-value">
        <span>R$50.99</span>
    </div> 
</div>